<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    {{> hello-world}}
    <script src="scripts/bundle.js"></script>
  </body>
</html>
